
<hr>

<form class = "well bg-light " (submit)="addPosts()" style="margin-left:50px" >
  <div class="form-group col-md-6 ">
    <div *ngIf="slide == 'slide1'">
      <h3>Basic Info</h3><br/>
      <label>Name </label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name"/><br/>
      <label>Sports </label>
      <select type="text" class = "form-control" [(ngModel)]="sports" name="sports" placeholder="Select">
        <option>American Football</option>
        <option>Aquatics</option>
        <option>Archery</option>
        <option>Automobile Racing</option>
        <option>Badminton</option>
        <option>Beach Volleyball</option>
        <option>Bobsleigh</option>
        <option>Body Building</option>
        <option>Baseball</option>
        <option>Basketball</option>
        <option>Boxing</option>
        <option>Cricket</option>
        <option>Cross Country Running</option>
        <option>Cross Country Skiing</option>
        <option>Curling</option>
        <option>Cycling</option>
        <option>Darts</option>
        <option>Decathlon</option>
        <option>Down Hill Skiing</option>
        <option>eSports</option>
        <option>Equestrianism</option>
        <option>Fencing</option>
        <option>Field Hockey</option>
        <option>Figure Skating</option>
        <option>Golf</option>
        <option>Gymnastics</option>
        <option>Ice Hockey</option>
        <option>Martial Arts</option>
        <option>Mixed Martial Arts</option>
        <option>Modern Pentathlon</option>
        <option>Motorcycle Racing</option>
        <option>Netball</option>
        <option>Polo</option>
        <option>Racquetball</option>
        <option>Rowing</option>
        <option>Rugby</option>
        <option>Sailing</option>
        <option>Shooting</option>
        <option>Skateboarding</option>
        <option>Skeet Shooting</option>
        <option>Skeleton</option>
        <option>Snow Boarding</option>
        <option>Soccer (Football)</option>
        <option>Softball</option>
        <option>Squash</option>
        <option>Surfing</option>
        <option>Swimming</option>
        <option>Tennis</option>
        <option>Track and Field</option>
      </select>
      <br/>
      <label>Nationality </label>
      <input type="text" class = "form-control" [(ngModel)]="nationality" name="nationality"/><br/>
      <label>Gender </label>
      <select type="text" class = "form-control" [(ngModel)]="gender" name="gender">
        <option>Female</option>
        <option>Male</option>
        <option>Others</option>
      </select><br/>
      <label>Date of Birth </label>
      <input type="date" class = "form-control" [(ngModel)]="dob" name="dob"/><br/>
      <br/>
      <button type="button" (click)="slide = 'slide2'" class="btn btn-secondary btn-lg" style="margin: 10px">Next</button>
      <br/>
      <br/>
      <br/>
    </div>

    <div *ngIf="slide == 'slide2'">
      <h3>About you</h3><br/>
      <label>Location </label>
      <input type="text" class = "form-control" [(ngModel)]="locations" name="locations"/><br/>
      <label>Association </label>
      <input type="text" class = "form-control" [(ngModel)]="association" name="association"/><br/>
      <label>Team </label>
      <input type="text" class = "form-control" [(ngModel)]="team" name="team"/><br/>
      <label>About </label>
      <textarea type="text" class = "form-control" rows = "3" [(ngModel)]="abouts" name="abouts"></textarea><br/>
      <label>Interests </label>
      <input type="text" class = "form-control" [(ngModel)]="interests" name="interests"/><br/>
      <label>Charities </label>
      <input type="text" class = "form-control" [(ngModel)]="charities" name="charities"/><br/>
      <label>Pets </label>
      <input type="text" class = "form-control" [(ngModel)]="pets" name="pets"/><br/>
      <label>Drinks Alcohol </label>
      <select type="text" class = "form-control" [(ngModel)]="drinks" name="drinks">
        <option>Yes</option>
        <option>No</option>
      </select><br/>
      <label>Married </label>
      <select type="text" class = "form-control" [(ngModel)]="married" name="married">
        <option>Yes</option>
        <option>No</option>
      </select><br/>

      <br/>
      <button type="button" (click)="slide = 'slide1'" class="btn btn-secondary btn-lg" style="margin: 10px">Back</button>
      <button type="button" (click)="slide = 'slide3'" class="btn btn-secondary btn-lg" style="margin: 10px">Next</button>
      <br/>
      <br/>
      <br/>
    </div>

    <div *ngIf="slide == 'slide3'">
      <h3>Social Media</h3><br/>
      <label>Profile Image </label>
      <input type="text" class = "form-control" [(ngModel)]="profile_image" name="profile_image"/><br/>
      <label>Social Media Handles </label>
      <input type="text" class = "form-control" [(ngModel)]="social_media" name="social_media"/><br/>
      <br/>
      <button type="button" (click)="slide = 'slide2'" class="btn btn-secondary btn-lg" style="margin: 10px">Back</button>
      <button type="button" (click)="slide = 'slide4'" class="btn btn-secondary btn-lg" style="margin: 10px">Next</button>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="jumbotron" *ngIf="slide == 'slide4'">
      <h3>Preview</h3><br/>
      <h5>Basic Info</h5><a href="" (click)="slide = 'slide1'">edit</a><hr>
      <p class="lead">Name</p>
      <p>{{name}}</p><br/>
      <p class="lead">Sports</p>
      <p>{{sports}}</p><br/>
      <p class="lead">Nationality</p>
      <p>{{nationality}}</p><br/>
      <p class="lead">Gender</p>
      <p>{{gender}}</p><br/>
      <p class="lead">Date of Birth</p>
      <p>{{dob}}</p><br/>
      <hr>

      <h5>About</h5><a href="" (click)="slide = 'slide2'">edit</a><hr>
      <p class="lead">Location</p>
      <p>{{locations}}</p><br/>
      <p class="lead">Association</p>
      <p>{{association}}</p><br/>
      <p class="lead">Team</p>
      <p>{{team}}</p><br/>
      <p class="lead">About</p>
      <p>{{abouts}}</p><br/>
      <p class="lead">Interests</p>
      <p>{{interests}}</p><br/>
      <p class="lead">Charities</p>
      <p>{{charities}}</p><br/>
      <p class="lead">Drinks Alcohol?</p>
      <p>{{drinks}}</p><br/>
      <p class="lead">Married?</p>
      <p>{{married}}</p><br/>
      <hr>

      <h5>Social Media</h5><a href="" (click)="slide = 'slide3'">edit</a><hr>
      <p class="lead">Profile Image</p>
      <p>{{profile_image}}</p><br/>
      <p class="lead">Social Media</p>
      <p>{{social_media}}</p><br/>



    <br/>
      <button type="button" (click)="slide = 'slide3'" class="btn btn-secondary btn-lg" style="margin: 10px">Back</button>
      <button type="submit" class="btn btn-secondary btn-lg" style="margin: 10px">Submit</button>
    <br/><br/><br/>

    </div>

  </div>

</form>
